<meta name="robots" content="none">
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Rock+Salt" rel="stylesheet" type="text/css">
<link href="/includes/css/music.css" rel="stylesheet" media="all" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<script src="http://www.exploreasheville.com/includes/scripts/music/controllers/mainController.js"></script>

<div class="container" ng-app="musicApp">
	<div class="row">
		<div class="seven columns centered intro">
			<h1>Asheville Area Music Scene</h1>
			<p>Asheville’s music scene is born of age old traditions, nurtured by a spirit of independence and the muse of the mountain skyline. The embracing atmosphere reflects a sense of place, harmonic yet playfully divergent and diverse. In a scene that’s on the verge, Asheville’s talented wellspring of music lovers and creators offer the musically minded traveler multi-layered experiences, innovative sounds and the irresistible urge to move. Play on in, won’t you?</p>
			<p>&nbsp;</p>
		</div>
	</div>

	<div class="row" id="highlightsWrapper" ng-controller="SlideshowController">
		<ul class="nav">
			<li class="title">{{ title }}</li>
			<li ng-repeat="slide in slides">
				<a ng-href="" ng-click="scrollTo(slide,$index)">{{ slide.title }}</a>
			</li>
		</ul>
		<div id="highlights" ng-style="imagewrapper">
			<ul ng-style="listposition">
				<li ng-repeat="slide in slides" id="{{ slide.ID }}" ng-style="imagewrapper">
					<div ng-if="slide.youtube" class="fluidmedia">
						<iframe width="720" height="405" ng-src="{{ youtubeURL + slide.youtube + youtubeOptions }}" frameborder="0" allowfullscreen></iframe>
					</div>
					<img ng-if="!slide.youtube" ng-src="{{ imageURL + slide.image }}" />
					<p class="caption"><strong>{{ slide.subtitle }}</strong><br />{{ slide.caption }}<br /><a ng-href="{{ slide.URL }}">{{ slide.link }}</a></p>
				</li>
			</ul>
		</div>
	</div>

	<br class="clear" />
	<div class="row">
		<div class="six columns">
			<h2 id="calendar">Music &amp; Festival Calendar</h2>
			<sv:widget type="events" width="100" height="100"><sv:param name="action" value="showall"></sv:param><sv:param name="randomnum" value="0"></sv:param><sv:param name="catid" value="9,12"></sv:param></sv:widget>
		</div>
		<div class="six columns">
			<div class="row">
				<div class="seven columns featured-story equalheight">
					<div id="venues" class="nav-square">
						<img src="http://www.exploreasheville.com/includes/images/music/venues.jpg" />
						<div class="caption">
							<h3>Venues</h3>
							<p>Asheville's thriving music scene means that literally hundreds of bands and musicians make their way through the city during the year. The best way to tap into Asheville's live music is to experience it first-hand at one of our local venues.</p>
							<p><a href="http://www.exploreasheville.com/music-scene/venues/">Find out where to see live music.</a></p>
						</div>
					</div>
				</div>
				<div class="five columns equalheight">
					<div id="soundcloudPlayer"></div>
				</div>
			</div>
			<br class="clear" />
			<div class="row">
				<div id="booking" class="five columns equalheight">
					<script src="http://arestravel.com/js/_default/ARESbot.js?bundle=ashevillecvb&nc=1&tpl=widget" type="text/javascript"></script>
				</div>
				<div class="seven columns featured-story equalheight">
					<div id="festivals" class="nav-square">
						<img src="http://www.exploreasheville.com/includes/images/music/festivals.jpg" />
						<div class="caption">
							<h3>Festivals</h3>
							<p>From the local and national acts that performed at Moogfest and Mountain Oasis, to the global performers at July's Folkmoot festival in nearby Waynesville, the Asheville area's summer music festivals are as eclectic as the city itself.</p>
							<p><a href="http://www.exploreasheville.com/music-scene/festivals/">See upcoming music festivals in Asheville.</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br class="clear" />
	<div class="row" ng-controller="StoriesController">
		<div class="six columns">
			<h4>{{ title }}</h4>
			<ul class="twelve columns block-grid two-up">
				<li ng-repeat="story in stories | orderBy:random | limitTo:stories.length:1 | filter:{featured:'false'}" >
					<div class="nav-square">
						<img ng-src="{{ imageURL + story.image }}" />
						<div class="caption">
							<h3>{{ story.title }}</h3>
							<p>{{ story.caption | limitTo:200 }}...</p>
							<p><a href="" ng-href="{{ story.URL }}">{{ story.link }}</a></p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="six columns featured-story">
			<div class="nav-square" ng-repeat="story in stories | orderBy:random | filter:{featured:'true'}">
				<img ng-src="{{ imageURL + story.image }}" />
				<div class="caption">
					<h3>{{ story.title }}</h3>
					<p>{{ story.caption }}</p>
					<p><a href="" ng-href="{{ story.URL }}">{{ story.link }}</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="http://connect.soundcloud.com/sdk-2.0.0.js" type="text/javascript"></script>
<script src="http://www.exploreasheville.com/includes/scripts/music/music.js" type="text/javascript"></script>
