@charset "utf-8";
.body-section.no-slideshow{
padding: 0 !important;
}
}
body,
html {
	margin: 0;
	padding: 0
}
hr {
	display: block;
	height: 2px;
	padding: 0;
	margin: .5em 0;
	clear: both;
	color: transparent;
	outline: 0;
	border: 0 none #FFF;
	border-top: 1px solid #383e4f;
	border-bottom: 1px solid #fff
}
body {
	background-color: #f9f9f9;
	background-image: url(http://res.cloudinary.com/simpleview/image/upload/v1445008530/clients/asheville/brickbackground_1ee1e95f-9fe5-4b1b-b70c-7ac06e6f79d5.jpg);
	background-repeat: repeat;
	font-family: 'Open Sans', sans-serif
}
.row {
	background-color: #f9f9f9!important;
}
.button,
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700
}
a,
a:active,
a:hover,
a:link,
a:visited {
	color: #b71234;
	outline: 0;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	text-decoration: none
}
a:focus,
a:hover {
	color: #6dc6e9
}
h2.chamber-logo {
	display: block;
	width: 150px;
	height: 76px;
	overflow: hidden;
	text-indent: -9999999px;
	background-image: url(http://res.cloudinary.com/simpleview/image/upload/v1445008470/clients/asheville/chamberlogo_af40d34b-3c5c-47bf-a29c-400440941bfd.png);
	background-repeat: no-repeat;
	margin: 0 auto -25px
}
li,
p {
	font-size: 1em;
	line-height: 1.5em;
	padding: 0;
	margin: 0 0 .5em
}
p.intro {
	font-size: 18px;
	line-height: 27px
}
.hint {
	font-weight: 400;
	font-style: italic;
	color: #766a65
}
#preheader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999
}
#top-navigation {
	display: block;
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	float: right;
	border-top: 0;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	background-color: #b71234!important;
	border-color: #b71234!important;
	left: 0;
	position: absolute;
	right: 0;
	overflow: visible;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	-o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	-ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1)
}
#top-navigation li {
	float: left;
	margin: 0;
	padding: 0;
	border-right: 1px solid #981e32;
	border-left: 1px solid #d94664;
	width: 20%
}
#top-navigation li a {
	text-align: center;
	display: block;
	margin: 0;
	padding: 14px;
	font-weight: 700;
	font-size: 16px;
	color: #fff
}
#top-navigation li a:hover {
	color: #6DC6E9
}
#top-navigation li:last-of-type {
	border-right: 0 solid #b71234
}
#top-navigation li:first-of-type {
	border-left: 0 solid #b71234
}
#header {
	padding: 60px 0 20px
}
#header img {
	-webkit-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .5);
	-ms-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .5);
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .5)
}
.restaurants {
	padding-top: 20px
}
.restaurants.first {
	padding-top: 0!important
}
.restaurants:last-of-type {
	padding-bottom: 0;
	border-bottom: 0
}
.restaurants li {
	margin-bottom: 20px
}
.restaurants p {
	padding: 0;
	margin: 0;
	color: #ccc
}
.restaurants a {
	display: inline-block
}
.sponsors {
	border-left: 1px solid #ccc
}
.sponsors img {
	display: block;
	margin: 0;
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #fff
}
.sponsors h4,
.sponsors h5,
.sponsors h6 {
	margin: 0;
	padding: 0
}
#social-links {
	display: block;
	position: fixed;
	bottom: 0;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	background-color: #fff!important;
	-webkit-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .1);
	-o-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .1);
	-ms-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .1);
	z-index: 999;
}
#social-links ul {
	float: right;
	margin: 0
}
#social-links ul li {
	margin: 0;
	padding: 10px 10px 8px 0;
	display: block;
	float: left;
	width: 85px;
	height: 40px;
	line-height: 0
}
#social-links ul li:first-of-type {
	width: auto;
	margin-right: 20px
}
#social-links ul li a {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none
}
#social-links ul li.pinterest {
	width: 80px
}
#social-links ul li.google-plus {
	width: 70px
}
#social-links ul li.facebook,
#social-links ul li.twitter {
	width: 100px
}