/*** header/top nav ***/
.header-section { background: url("/includes/public/assets/images/topnav-bg.png") repeat-x; position: absolute; z-index: 1000; height: 152px; top: 0; left: 0; right: 0;}
.main-logo { margin-top: 84px; margin-left: 75px; }
.header-nav, .main-cont {position: static !important;}

.industry-row {padding-top: 37px;}
.industry-row ul {margin: 0;}
.industry-row a {color: #fff; font-size: 16px; font-weight: bold; line-height: 35px;}
.industry-row a:hover { color: #eeaf30; }

.nav-industry .item { display: inline-block; margin-right: 20px; }
.nav-industry .item.last { margin-right: 0px; }
.industry-extra {text-align: right;}
.industry-extra li { display: inline-block; margin-right: 20px; }
.industry-extra li.last { margin-right: 0px; }

.nav-primary {height: 80px; padding-top: 20px;}
.nav-primary .item { background: url("/includes/public/assets/images/theme/topnav-div-default.png") no-repeat top right; display: inline-block; padding: 0px 10px; height: 60px; vertical-align: top; }
.nav-primary .item.first { padding-left: 0px; }
.nav-primary .item.last { background: none; padding-right: 0px; }
.nav-primary .item > a { color: #fff; font-family: 'Rock Salt', cursive; font-size: 15px; font-weight: 900; }
.nav-primary .item.open > a, .nav-primary .item:hover > a {color: #eeaf30;}

.nav-primary .nav-secondary {
  background: url("/includes/public/assets/images/subnav-bg.png") repeat-x;  
  position: absolute;
  display: none;
  top: 152px;
  left: 0;
  right: 0;
  height: 52px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  z-index: 200;
}
.nav-primary .item:hover .nav-secondary {z-index: 250;}
.nav-primary .item:hover .nav-secondary, .nav-primary .item.open .nav-secondary {display: block;}

.nav-primary .secondaryItem { display: inline-block; line-height: 24px; padding: 0px 20px; position: relative; }
.nav-primary .secondaryItem a { color: #fff; font-family: 'Lato', sans-serif; font-size: 16px; font-weight: 700; }
.nav-primary .secondaryItem.open > a, .nav-primary .secondaryItem:hover > a, .nav-primary .secondaryItem a:hover { color: #eeaf30; }

.nav-secondary .dropdown {
  display: none;
  background-color: #165788;
  padding: 5px 0;
  position: absolute;
  left: 0;
  top: 24px;
  width: 320px;
  z-index: 500;  
}
.nav-secondary .dropdownItem {display: block; line-height: 24px; padding: 5px 20px; overflow: hidden; text-align: left;}
.nav-secondary .dropdownItem a {color: #fff;}
.nav-secondary .dropdownItem a:hover {color: #eeaf30;}
.nav-secondary .secondaryItem:hover .dropdown {display: block;}

.nav-primary .featuredContent {  
  display: none;
  position: absolute;
  top: 190px;
  left: 0;
  right: 0; 
  width: 100%;  
  z-index: 100;
}
.nav-primary .featuredContent-cont {
  background: url("/includes/public/assets/images/handmadepaper.jpg");
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,.5);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,.5);
}
.nav-primary .item:hover .featuredContent {display: block;}

.nav-primary .featuredContent-cont .dropWidgets .contentRender_name_plugins_collections_template_custom_navigation_featured {
  margin: 30px;
}


/*** nav themes ***/
.header-section.theme-green {background: url("/includes/public/assets/images/theme/topnav-bg-green.png") repeat-x;}
.header-section.theme-blue {background: url("/includes/public/assets/images/theme/topnav-bg-blue.png") repeat-x;}
.header-section.theme-gray {background: url("/includes/public/assets/images/theme/topnav-bg-gray.png") repeat-x;}
.header-section.theme-red {background: url("/includes/public/assets/images/theme/topnav-bg-red.png") repeat-x;}
.header-section.theme-tan {background: url("/includes/public/assets/images/theme/topnav-bg-tan.png") repeat-x;}
.header-section.theme-white {background: url("/includes/public/assets/images/theme/topnav-bg-white.png") repeat-x;}

.header-section.theme-tan .nav-primary .item {background: url("/includes/public/assets/images/theme/topnav-div-tan.png") no-repeat top right;}
.header-section.theme-white .nav-primary .item {background: url("/includes/public/assets/images/theme/topnav-div-white.png") no-repeat top right;}
.header-section.theme-tan .nav-primary .item.last, .header-section.theme-white .nav-primary .item.last {background: none;}

.header-section.theme-tan .nav-primary .item > a {color: #766A65;}
.header-section.theme-tan .nav-primary .item.open > a, .header-section.theme-tan .nav-primary .item:hover > a {color: #eeaf30;}
.header-section.theme-white .nav-primary .item > a {color: #615951; font-family:'Caslon W01 Antique'; font-size: 20px; line-height: 24px;}
.header-section.theme-white .nav-primary .item.open > a, .header-section.theme-white .nav-primary .item:hover > a {color: #eeaf30; font-family:'Caslon W01 Antique';}


/*** grid nav ***/
.nav-grid {margin-top: 40px;}
.nav-grid .item .link {color: #165788; font-family: 'Rock Salt', cursive; font-size: 24px; margin: 15px 0 45px; text-align: center;}


/*** footer ***/
.nav-press .item-head {color: #766a65; font-size: 20px; font-weight: 700; text-transform: uppercase; margin: 50px 0px 10px;}
.nav-press li {padding-bottom: 0px;}
.nav-footer p {line-height: 24px; margin: 0;}


/*** mobile nav ***/
.mobilenav { background: #90986b; height: 43px; }
.mobile-logo { display: block; position: absolute; left: 10px; top: 8px; height: 28px; width: 115px; z-index: 21000; }

.mobilenav .dl-menuwrapper {  
  right: 0;
  position: relative;
  height: 43px;
  line-height: 43px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
  z-index: 20002;
}

.mobilenav .menu-icon {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: block;
  height: 32px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 5px;
  width: 100%;
  text-align: right;
}
.mobilenav .menu-icon a .fa-bars {display: inline-block; color: #f0ece0; margin: 0 10px; font-size: 28px; vertical-align: middle;}

.mobilenav .site-search-dd {padding: 10px;}

.mobile-extra {position: relative; padding: 4px 0px 4px 14px; height: 48px;}
.mobile-extra .tb-mobile a { color: #90986b; font-size: 18px; font-weight: 700; line-height: 40px; }
.mobile-extra .print-mobile { margin: 5px 15px 0 0; }
.mobile-extra .email-mobile { margin: 5px 10px 0 0; }

.mobilenav ul.dl-menu {
  background: url("/includes/public/assets/images/handmadepaper.jpg");
  position: relative;
  top: 43px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.mobilenav ul.dl-menu li {
  float: none;
  overflow: hidden;
  position: relative;
  list-style-type: none;
  width: 100%;
}

/* Add arrow to parent items with children*/
.mobilenav ul.dl-menu li .fa-angle-right {
    color: #90986b;
    display: none;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 16px;
    width: 10px;
    font-size: 24px;
}
.mobilenav ul.dl-menu li.item-main.has-submenu .fa-angle-right {display: block;}

.mobilenav ul.dl-menu .item-main a {
  border-bottom: 1px solid #90986b;
  color: #90986b;
  font-family: 'Rock Salt', cursive; font-size: 18px; font-weight: 900;
  line-height: 40px;
}

/* Industry Mobile Nav */
.mobilenav ul.dl-menu .item.item-industry a {
  border-bottom: 1px solid #37424a;
  color: #37424a;
  font-size: 15px;
  font-weight: 700;
}

/* Hide arrow on LI when parent is active */
.mobilenav ul.dl-menu li.has-submenu.dl-subviewopen {
  background-image: none;
}
.mobilenav ul.dl-menu li > a,
.mobilenav ul.dl-menu li ul li > a {
  line-height: 28px;
  text-decoration:none;
  padding: 7px 0 7px 14px;
  display: block;
  position: relative;
  outline: none;
  text-align: left;
}

.mobilenav ul.dl-menu li.has-dropdown > a,
.mobilenav ul.dl-menu li ul li.has-dropdown > a {
}

.mobilenav ul.dl-menu li.has-dropdown ul li a {
  width: 98%;
  padding-right: 5px;
}

.mobilenav ul.dl-menu li:hover:not(.has-form) > a {}

.mobilenav ul li > a:hover,
.mobilenav ul.dl-menu li ul li > a:hover,
.mobilenav ul.dl-menu li:hover > a {}
.mobilenav .dl-menuwrapper .dl-menu {
  margin: 0;
  position: absolute;
  width: 100%;
  width: 300px;
  right: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.mobilenav .dl-menuwrapper .dl-menu.dl-menu-toggle {
  transition: all 0.3s ease;
}

.mobilenav .dl-menuwrapper .dl-menu.dl-menuopen {
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/* Hide the inner submenus */
.mobilenav ul.dl-menu li.dl-back > a {font-size: 16px; text-transform: uppercase; opacity: 0.7;}

.mobilenav .dl-menuwrapper ul.dl-menu li .dl-submenu {
  display: none;
  margin-left: 0;
}

/* Color the parent nav a different color when children are visible and hide arrow */
.mobilenav .dl-menuwrapper ul.dl-menu .dl-parent {
  background-color: #f0f0f0;
  background-image: none;
}

.mobilenav .dl-menuwrapper ul.dl-menu .dl-parent a {
  border: 0px none;
  color: #eeaf30;
}

/* Style back link */
.mobilenav .dl-menuwrapper ul.dl-menu .dl-back a {
  border: 0px none;
  color: #37424a;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.mobilenav .dl-menu.dl-subview li,
.mobilenav .dl-menu.dl-subview li.dl-subviewopen > a,
.mobilenav .dl-menu.dl-subview li.dl-subview > a {
  display: none;
}

.mobilenav .dl-menu.dl-subview li.dl-subview,
.mobilenav .dl-menu.dl-subview li.dl-subview .dl-submenu,
.mobilenav .dl-menu.dl-subview li.dl-subviewopen,
.mobilenav .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.mobilenav .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}

/* Dynamically added submenu outside of the menu context NEEDS styling for transition */
.mobilenav .dl-menuwrapper > .dl-submenu {
  background: #fff repeat-x bottom center; 
  position: absolute;
  width: 100%;
  top: 68px;
  left: 0;
  list-style: none;
  list-style-type: none;
  margin: 0;
}
.mobilenav .dl-menuwrapper > .dl-submenu li {
  list-style-type: none;
  border-bottom: 1px solid #90986b;
}

.mobilenav .dl-menuwrapper > .dl-submenu li a {
  display: block;   
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    outline: medium none;
    padding: 8px 0 6px 15px;
    color: #fff;
}


/*** mobile ***/
@media only screen and (max-width: 40em) { 
  .nav-grid .item img {height: 50px; width: 50px; margin-right: 15px; float: left;}
  .nav-grid .item .link {font-size: 18px; text-align: left; line-height: 50px; margin: 0;}
  .nav-footer .item {display: inline-block; padding: 0px 5px;}
}

/*** tablet ***/
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

}

/*** desktop ***/
@media only screen and (min-width: 64.063em) { 

}




/* Animation classes for moving out and in - THERE ARE MORE OPTIONS THAN WHAT IS BELOW */

.dl-menu.dl-animate-out-2 {
  -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
  animation: MenuAnimOut2 0.3s ease-in-out;
}

@-webkit-keyframes MenuAnimOut2 {
  0% { }
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes MenuAnimOut2 {
  0% { }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

.dl-menu.dl-animate-in-2 {
  -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
  animation: MenuAnimIn2 0.3s ease-in-out;
}

@-webkit-keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
  -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
  animation: SubMenuAnimIn2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
  -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
  animation: SubMenuAnimOut2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(100%);
    opacity: 1;
  }
}

@keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
  }
}
